*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header-email,
.header-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 12px;
  color: white;
  background-color: #ad2167;
}

.header .header-left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 12px;
  padding-left: 24px;
}

.header .header-left .header-left--title {
  font-size: 42px;
}

.header .header-left .signature {
  font-size: 18px;
}

.header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
  padding-right: 32px;
}

.header .header-right input[type="text"] {
  padding: 3px;
  margin: 4px 0;
  border: 1px solid black;
  outline: none;
}

.header .header-email {
  margin-bottom: 13px;
}

.header .header-password {
  margin-left: 12px;
}

.header .header-password a {
  color: #eb9696;
  text-decoration: none;
}

.header .header-password a:hover {
  text-decoration: underline;
}

.header .header-btn {
  padding: 3px;
  margin-left: 12px;
  color: white;
  background-color: #e66a6a;
  cursor: pointer;
  outline: none;
  border: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e0e2e8;
  height: 620px;
}

.main .left-content {
  width: 580px;
  height: 300px;
}

.main .left-content .left-content-title {
  width: 450px;
  margin-top: 40px;
  font-size: 19px;
  line-height: 29px;
  color: #1165b3b1;
  font-weight: bold;
}

.main .left-content .left-content-desc {
  width: 400px;
  margin-top: 24px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: #c66a98;
  font-weight: bold;
}

.main .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}

.main .right-content .top-right-content {
  padding: 20px 0;
}

.main .right-content .right-content-title {
  font-size: 36px;
  color: #337ec4b1;
  margin-bottom: 10px;
}

.main .right-content .right-content-desc {
  color: #b43f79;
  font-weight: bold;
  font-size: 19px;
}

.main .right-content input[type="text"] {
  padding: 8px 10px;
  height: 39px;
  border-radius: 5px;
  border: groove;
  font-size: 18px;
  outline: none;
  margin-top: 8px;
}

.main .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .name input {
  width: 194px;
}

.main .name input:first-child {
  margin-right: 11px;
}

.main .password {
  margin-bottom: 10px;
}

.main .category {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #90949c;
  font-weight: bold;
}

.main .date {
  padding: 4px;
}

.main .category.birthday {
  margin-top: 12px;
}

.main .radio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  margin-left: 8px;
  font-size: 18px;
}

.main .radio-list label {
  margin-right: 24px;
}

.main .radio-list input {
  margin-right: 6px;
}

.main .btn-desc {
  width: 316px;
  height: 70px;
  line-height: 1.34;
  color: #777;
  font-size: 11px;
  margin: 14px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
}

.main .btn-desc a {
  color: #ad2167;
  text-decoration: none;
}

.main .btn-desc a:hover {
  text-decoration: underline;
}

.main .last-btn {
  font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif;
  font-size: 19px;
  width: 194px;
  height: 39px;
  margin: 24px 0;
  background: #bd4781;
  border: 1px solid #ae4678;
  border-radius: 5px;
  color: white;
  outline: none;
  cursor: pointer;
}

.main .last-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#b73473), to(#b32c6d));
  background: linear-gradient(#b73473, #b32c6d);
  -webkit-box-shadow: inset 0 1px 1px #b72a6e;
          box-shadow: inset 0 1px 1px #b72a6e;
}

.main .last-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  margin-top: 10px;
  font-size: 13px;
  color: #828387;
  font-weight: bold;
}

.main .last-text a {
  color: #ad2167;
  font-weight: bold;
  text-decoration: none;
}

.main .last-text a:hover {
  text-decoration: underline;
}

.footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  padding: 30px 230px;
  font-size: 12px;
}

.footer .current-language {
  color: #737373;
}

.footer .languages {
  margin-bottom: 10px;
}

.footer .languages span {
  margin-right: 10px;
}

.footer a {
  text-decoration: none;
  color: #ad2167;
}

.footer .line {
  border-bottom: 1px solid #dddfe3;
}

.footer .social-terms {
  line-height: 1.6;
  margin-top: 8px;
}

.footer .social-terms span {
  padding-right: 20px;
}

.footer .final-word {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  margin-top: 20px;
  font-size: 11px;
  color: #737373;
}

@media (max-width: 980px) {
  .left-content {
    display: none;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 200px;
  }
  .footer .languages,
  .footer .social-terms {
    width: 380px;
  }
  .footer .final-word {
    padding-right: 32px;
    width: 130px;
  }
}

@media (max-width: 700px) {
  .header-left {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */