*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  height: 11vh;
  font-size: 12px;
  color: white;
  background-color: #3d5b99;
  .header-left {
    align-self: center;
    margin-top: 12px;
    margin-left: 24px;
    font-size: 38px;
    cursor: pointer;
  }
  .header-right {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-right: 32px;
    input[type="text"] {
      padding: 3px;
      margin: 4px 0;
      border: 1px solid black;
      outline: none;
    }
  }
  .header-email {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
  }
  .header-password {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    a {
      color: #9ab4d8;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .header-btn {
    padding: 3px;
    margin-left: 12px;
    color: white;
    background-color: #4267b2;
    cursor: pointer;
    outline: none;
    border: none;
  }
}
