*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

// Header part :

.header-email,
.header-password {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  color: white;
  background-color: #ad2167;
  .header-left {
    align-self: center;
    padding-top: 12px;
    padding-left: 24px;
    .header-left--title {
      font-size: 42px;
    }
    .signature {
      font-size: 18px;
    }
  }
  .header-right {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-right: 32px;
    input[type="text"] {
      padding: 3px;
      margin: 4px 0;
      border: 1px solid black;
      outline: none;
    }
  }
  .header-email {
    margin-bottom: 13px;
  }
  .header-password {
    margin-left: 12px;

    a {
      color: #eb9696;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .header-btn {
    padding: 3px;
    margin-left: 12px;
    color: white;
    background-color: #e66a6a;
    cursor: pointer;
    outline: none;
    border: none;
  }
}

// Main left-part :

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e0e2e8;
  height: 620px;
  .left-content {
    width: 580px;
    height: 300px;
    .left-content-title {
      width: 450px;
      margin-top: 40px;
      font-size: 19px;
      line-height: 29px;
      color: #1165b3b1;
      font-weight: bold;
    }
    .left-content-desc {
      width: 400px;
      margin-top: 24px;
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      color: #c66a98;
      font-weight: bold;
    }
  }

  // Main right-part :

  .right-content {
    display: flex;
    flex-direction: column;
    width: 400px;
    .top-right-content {
      padding: 20px 0;
    }
    .right-content-title {
      font-size: 36px;
      color: #337ec4b1;
      margin-bottom: 10px;
    }
    .right-content-desc {
      color: #b43f79;
      font-weight: bold;
      font-size: 19px;
    }
    input[type="text"] {
      padding: 8px 10px;
      height: 39px;
      border-radius: 5px;
      border: groove;
      font-size: 18px;
      outline: none;
      margin-top: 8px;
    }
  }
  .name {
    display: flex;
  }
  .name input {
    width: 194px;
  }
  .name input:first-child {
    margin-right: 11px;
  }
  .password {
    margin-bottom: 10px;
  }
  .category {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #90949c;
    font-weight: bold;
  }
  .date {
    padding: 4px;
  }
  .category.birthday {
    margin-top: 12px;
  }
  .radio-list {
    display: flex;
    margin-top: 8px;
    margin-left: 8px;
    font-size: 18px;
  }
  .radio-list label {
    margin-right: 24px;
  }
  .radio-list input {
    margin-right: 6px;
  }
  .btn-desc {
    width: 316px;
    height: 70px;
    line-height: 1.34;
    color: #777;
    font-size: 11px;
    margin: 14px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
      ".SFNSText-Regular", sans-serif;
  }
  .btn-desc a {
    color: #ad2167;
    text-decoration: none;
  }
  .btn-desc a:hover {
    text-decoration: underline;
  }
  .last-btn {
    font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif;
    font-size: 19px;
    width: 194px;
    height: 39px;
    margin: 24px 0;
    background: #bd4781;
    border: 1px solid #ae4678;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
  }
  .last-btn:hover {
    background: linear-gradient(#b73473, #b32c6d);
    box-shadow: inset 0 1px 1px #b72a6e;
  }
  .last-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
      ".SFNSText-Regular", sans-serif;
    margin-top: 10px;
    font-size: 13px;
    color: #828387;
    font-weight: bold;
  }
  .last-text a {
    color: #ad2167;
    font-weight: bold;
    text-decoration: none;
  }
  .last-text a:hover {
    text-decoration: underline;
  }
}

// Footer part :

.footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
  padding: 30px 230px;
  font-size: 12px;
  .current-language {
    color: #737373;
  }
  .languages {
    margin-bottom: 10px;
  }
  .languages span {
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: #ad2167;
  }
  .line {
    border-bottom: 1px solid #dddfe3;
  }
  .social-terms {
    line-height: 1.6;
    margin-top: 8px;
  }
  .social-terms span {
    padding-right: 20px;
  }
  .final-word {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
      ".SFNSText-Regular", sans-serif;
    margin-top: 20px;
    font-size: 11px;
    color: #737373;
  }
}

// Media rules :

@media (max-width: 980px) {
  .left-content {
    display: none;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
    .languages,
    .social-terms {
      width: 380px;
    }
    .final-word {
      padding-right: 32px;
      width: 130px;
    }
  }
}

@media (max-width: 700px) {
  .header-left {
    display: none;
  }
}
